body {
    background-color: rgb(158, 158, 158);
    padding: 20px;
    margin: 0;
}
h1, h2, li, p, ul {
    font-family: Helvetica,Arial,sans-serif;
}
ul.header {
    background-color:rgb(105,196,153);
    padding: 0;
}
    ul.header li {
        display: inline;
        list-style-type: none;
        margin: 0;
    }
        ul.header li a {
            color: #fff;
            font-weight: 700;
            text-decoration: none;
            padding: 20px;
            display: inline-block;
            }

    .content h2 {
        padding: 0;
        margin: 0;
}
    .content li {
        margin-bottom: 10px;
    }
    .active {
    background-color: rgb(0, 0, 0);
}
.content {
    text-align: center;
    background-color: rgb(250, 250, 250);
    padding:0px;
}
    .content h2 {
        padding: 0;
        margin: 0;
}
    .content li {
        margin-bottom: 10px;
    }
    .header  :active {
        background-color: rgb(0, 0, 0);
}
.articles
{
    display: flex;
}

.articles_content{
    text-align: center;
}

.Content_article p{
    background-color: white;

}
.Article_main_text {
background-color: rgb(192, 52, 52);
}
.articles {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.articles > a {
	margin: 10px;
}

